# Python
.venv
__pycache__
*.py[cod]

# Node
node_modules

# TypeScript
*.tsbuildinfo

# Django
media
staticfiles

# Next
.next/
next
out
build

# IDE
.idea

# Docker - Docker Compose
/server/nginx.conf

# ETC
*.log
*.env
.DS_Store
*.pem
npm-debug.log*
*.mo
