services:
  backend:
    build:
      context: ./liberwiki
      dockerfile: Dockerfile
    env_file: .env
    environment:
      - LIBERWIKI__NAME
      - LIBERWIKI__DEBUG
      - LIBERWIKI__DB__NAME
      - LIBERWIKI__DB__USER
      - LIBERWIKI__DB__PASSWORD
      - LIBERWIKI__DB__HOST
      - LIBERWIKI__DB__PORT
      - LIBERWIKI__SECRET_KEY
      - LIBERWIKI__HOST
      - LIBERWIKI__ALLOWED_HOSTS
      - LIBERWIKI__HOSTS__DOMAIN
      - LIBERWIKI__HOSTS__API_SUBDOMAIN
      - LIBERWIKI__HOSTS__ADMIN_SUBDOMAIN
      - LIBERWIKI__AUTH__VERIFY_EMAIL_URL_TEMPLATE
      - LIBERWIKI__EMAIL__SMTP__HOST
      - LIBERWIKI__EMAIL__SMTP__PORT__TSL
      - LIBERWIKI__EMAIL__SMTP__USER
      - LIBERWIKI__EMAIL__SMTP__PASSWORD
      - LIBERWIKI__SETUP__SUPERUSER__USERNAME
      - LIBERWIKI__SETUP__SUPERUSER__EMAIL
      - LIBERWIKI__SETUP__SUPERUSER__PASSWORD
      - LIBERWIKI__DEVTOOLS__SENTRY__DSN
      - LIBERWIKI__DEVTOOLS__SENTRY__TRACES_SAMPLE_RATE
      - DJANGO_SETTINGS_MODULE=liberwiki.settings
    networks:
      - internal
      - external
    restart: unless-stopped

  frontend:
    build:
      context: ./liberwiki-frontend
      dockerfile: Dockerfile
      args:
        SENTRY_AUTH_TOKEN: ${SENTRY_AUTH_TOKEN}
        NEXT_PUBLIC_LIBERWIKI__NAME: ${NEXT_PUBLIC_LIBERWIKI__NAME}
        NEXT_PUBLIC_LIBERWIKI__API__BASE_URL: ${NEXT_PUBLIC_LIBERWIKI__API__BASE_URL}
        NEXT_PUBLIC_LIBERWIKI__LANGUAGE: ${NEXT_PUBLIC_LIBERWIKI__LANGUAGE}
        NEXT_PUBLIC_LIBERWIKI__FRONT_END__DEVTOOLS__SENTRY__DSN: ${NEXT_PUBLIC_LIBERWIKI__FRONT_END__DEVTOOLS__SENTRY__DSN}
        NEXT_PUBLIC_LIBERWIKI__FRONT_END__DEVTOOLS__SENTRY__TRACES_SAMPLE_RATE: ${NEXT_PUBLIC_LIBERWIKI__FRONT_END__DEVTOOLS__SENTRY__TRACES_SAMPLE_RATE}
        NEXT_PUBLIC_LIBERWIKI__FRONT_END__DEVTOOLS__SENTRY__REPLAYS_SESSION_SAMPLE_RATE: ${NEXT_PUBLIC_LIBERWIKI__FRONT_END__DEVTOOLS__SENTRY__REPLAYS_SESSION_SAMPLE_RATE}
        NEXT_PUBLIC_LIBERWIKI__FRONT_END__DEVTOOLS__SENTRY__REPLAYS_ON_ERROR_SAMPLE_RATE: ${NEXT_PUBLIC_LIBERWIKI__FRONT_END__DEVTOOLS__SENTRY__REPLAYS_ON_ERROR_SAMPLE_RATE}
        NEXT_PUBLIC_LIBERWIKI__FRONT_END__DEVTOOLS__GOOGLE_ANALYTICS__GA_ID: ${NEXT_PUBLIC_LIBERWIKI__FRONT_END__DEVTOOLS__GOOGLE_ANALYTICS__GA_ID}
    env_file: .env
    environment:
      - SENTRY_AUTH_TOKEN
      - NEXT_PUBLIC_LIBERWIKI__NAME
      - NEXT_PUBLIC_LIBERWIKI__API__BASE_URL
      - NEXT_PUBLIC_LIBERWIKI__LANGUAGE
      - NEXT_PUBLIC_LIBERWIKI__FRONT_END__DEVTOOLS__SENTRY__DSN
      - NEXT_PUBLIC_LIBERWIKI__FRONT_END__DEVTOOLS__SENTRY__TRACES_SAMPLE_RATE
      - NEXT_PUBLIC_LIBERWIKI__FRONT_END__DEVTOOLS__SENTRY__REPLAYS_SESSION_SAMPLE_RATE
      - NEXT_PUBLIC_LIBERWIKI__FRONT_END__DEVTOOLS__SENTRY__REPLAYS_ON_ERROR_SAMPLE_RATE
      - NEXT_PUBLIC_LIBERWIKI__FRONT_END__DEVTOOLS__GOOGLE_ANALYTICS__GA_ID
    networks:
      - internal
    restart: unless-stopped

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    env_file: .env
    environment:
      - LIBERWIKI__HOSTS__DOMAIN
      - LIBERWIKI__HOSTS__API_SUBDOMAIN
      - LIBERWIKI__HOSTS__ADMIN_SUBDOMAIN
    ports:
      - "80:80"
    entrypoint: ["/server/entrypoint.sh"]
    depends_on:
      - backend
      - frontend
    networks:
      - internal
      - external
    restart: unless-stopped

  database:
    image: postgres:16.4
    env_file: .env
    environment:
      POSTGRES_DB: ${LIBERWIKI__DB__NAME}
      POSTGRES_USER: ${LIBERWIKI__DB__USER}
      POSTGRES_PASSWORD: ${LIBERWIKI__DB__PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - internal
    restart: unless-stopped

volumes:
  postgres_data:

networks:
  internal:
    internal: true
  external:
    driver: bridge
