@import 'katex/dist/katex.min.css';
@import 'highlight.js/styles/github-dark.css';

.tiptap-editor .ProseMirror {
  @apply min-h-24 h-full text-primary;
}

.ProseMirror {
  > * {
    @apply my-2;
  }

  pre {
    @apply bg-secondary rounded p-4 my-4 border border-secondary whitespace-pre-wrap;
    code {
      @apply text-primary font-code;
    }
  }

  p code {
    @apply bg-secondary rounded py-0.5 px-1 border border-secondary;
  }

  a {
    @apply text-primary underline;
  }

  blockquote p {
    @apply border-l-4 border-gray-300 pl-4 italic;
  }

  ul,
  ol {
    @apply px-4;

    li p {
      @apply my-2;
    }
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  ul ul {
    list-style-type: circle;
  }

  ol ol {
    list-style-type: lower-alpha;
  }

  ul ul ul {
    list-style-type: square;
  }

  ol ol ol {
    list-style-type: lower-roman;
  }
}
